<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}SERVE!{{else}}PREPARE!{{/if}}
	</button>

	<button class="delete-" data-id="{{this.id}}">DELIVERED!</button>
</li>
