<li class="mb-3">
	{{name}}

	<br><button class="change-devour my-2 p-2 px-3 text-white" data-id="{{id}}" data-newdevoured="{{devour}}" style="background-color:blue; border: 0; border-radius: 5px; font-family: 'Comfortaa', cursive;">
		{{#if devour}}Burger's Ready!
		{{else}}Burger Returned? <button class="delete-burger my-2 p-2 px-3 text-white" data-id="{{this.id}}" style="border: 0; border-radius: 5px; background-color: green; font-family: 'Comfortaa', cursive;">Burger Delivered?</button>{{/if}}
	</button>
	

	
</li>
