<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newdevoured="{{devour}}">
		{{#if devour}}Ready!{{else}}Wrong Order?{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Burger Delivered</button>
</li>
